@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
    /* change the background colour*/
    background-color: #e5e5e5;

}

h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color:whitesmoke;

}
h1.dark{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color:grey;
}

title {
    color: white;
    text-align: center;
}

p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color:whitesmoke;
}
p.dark{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color:grey;
}
.button {
    background-color: white;
	display: inline-flex;
	vertical-align: middle;
	justify-content: center;
	align-items: center;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	cursor: pointer;
	outline: none;
	font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.button.blue{
    background-color: darkcyan;
    color:white;
}

.button.teal{
    background-color:teal;
    color:white;
}

.button.grey{
    background-color:#e5e5e5;
    color:whitesmoke
}
.button.grey-black{
    background-color:#e1e1e1;
    color:whitesmoke
}
.button.dark {
   background-color: #484847;
   color: whitesmoke;
}
/*Edit both transition durations to change time taken to change colour*/
.button:hover{
	    background-color: black;
        color: white;
		overflow: hidden;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
}
.button.dark:hover {
        background-color: black;
        color:white;
		overflow: hidden;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
}
.button.teal:hover{
        background-color: white;
        color:black;
        overflow: hidden;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
}
.button.grey:hover{
    background-color:whitesmoke;
    color:dimgrey;
    overflow: hidden;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
.button.grey-black:hover{
    background-color:whitesmoke;
    color:black;
    overflow: hidden;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
/*finish button animations*/
input{
    background-color: whitesmoke;
    color: #484847;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 8px;
	cursor: pointer;
	outline: none;
}

input.dark{
  background-color: #484837;
    color: whitesmoke;
}
input.blue{
    background-color: darkcyan;
    color:white;
}

input.teal{
    background-color:teal;
    color:whitesmoke;
}

input.grey{
    background-color:dimgrey;
    color:whitesmoke
}
form{
  background-color: whitesmoke;
  padding: 12px,20px
  color: #484847;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}
.boxed-text{
  background-color: white;
  display: inline-flex;
	vertical-align: middle;
	justify-content: center;
	align-items: center;

    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    overflow: hidden;
}
.feed-boxed-text{
  position:fixed;
  background-color: white;
  display: inline-flex;
	vertical-align: middle;
	justify-content: center;
	align-items: center;
    left:13%;
    width: 70%;
    border: none;
    color: black;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    overflow: hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e5e5e5;

}

li {
    float: right;
}

li a {
    display: block;
    color: grey;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8;
}

li a:hover {
  background-color: #c9c7c7;
  color: inherit;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
