@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.button {
    background-color: white;
	display: inline-flex;
	vertical-align: middle;
	justify-content: center;
	align-items: center;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	cursor: pointer;
	outline: none;
	font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.button.blue{
    background-color: darkcyan;
    color:white;
}

.button.teal{
    background-color:teal;
    color:white;
}

.button.grey{
    background-color:#e5e5e5;
    color:whitesmoke
}
.button.grey-black{
    background-color:#e1e1e1;
    color:whitesmoke
}
.button.dark {
   background-color: #484847;
   color: whitesmoke;
}
/*Edit both transition durations to change time taken to change colour*/
.button:hover{
	    background-color: black;
        color: white;
		overflow: hidden;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
}
.button.dark:hover {
        background-color: black;
        color:white;
		overflow: hidden;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
}
.button.teal:hover{
        background-color: white;
        color:black;
        overflow: hidden;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
}
.button.grey:hover{
    background-color:whitesmoke;
    color:dimgrey;
    overflow: hidden;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
.button.grey-black:hover{
    background-color:whitesmoke;
    color:black;
    overflow: hidden;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
