@import url('https://fonts.googleapis.com/css?family=Open+Sans');
input{
    background-color: whitesmoke;
    color: #484847;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 8px;
	cursor: pointer;
	outline: none;
}

input.dark{
  background-color: #484837;
    color: whitesmoke;
}
input.blue{
    background-color: darkcyan;
    color:white;
}

input.teal{
    background-color:teal;
    color:whitesmoke;
}

input.grey{
    background-color:dimgrey;
    color:whitesmoke
}
form{
  background-color: whitesmoke;
  padding: 12px,20px
  color: #484847;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}
